# Sunucu ve cPanel Sistem Dosyaları (Kesinlikle Engellenmeli)
.cagefs/
.caldav/
.cl.selector/
.cpanel/
.htpasswds/
.koality/
.softaculous/
.spamassassin/
.trash/
.well-known/
cgi-bin/
etc/
logs/
lscache/
mail/
public_ftp/
ssl/
tmp/

# Sunucu Logları ve Kullanıcı Profilleri
.bash_logout
.bash_profile
.bashrc
.imunify_patch_id
.lastlogin
.mvimunify_id

# Editör ve Güvenlik Dosyaları
.vscode/
.env

# (Eğer varsa) Klasik Node.js gereksizleri
node_modules/